

/* @import url('https://font.googleapis.com/css?family:Raleway:200,100,400'); */
@import url('https://fonts.google.com/specimen/Raleway?selection.family=Raleway:400,400i,700');


* {
    width: 0 auto;
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./img/playing.gif");
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./img/git.gif"); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./img/source.gif"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 1000px;
}

.container-fluid {
    position: relative;
    top: 30px;
}

.textcenter {
    position: relative;
    color: white;
    top: 80px;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    transition: transform .2s;  
    font-family: 'Italic';
    font-family: 'Italic';   
}


.textcenter a:hover {
    transform: scale(1.1)
}


.Paragraph{
    position: relative;
    color: white;
    top: 500px;
    font-size: larger;
}




/* NAV BAR STARTS */

#navbarAdmin {
    width: 100%;
    overflow: auto;
    /* font-family: 'Coda Caption', sans-serif;
    font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Italic';
    font-family: 'Italic';
}

#navbarAdmin a {
    position: relative;
    color: #fff;    
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    transition: transform .2s;        
}


/* Add a background color on mouse-over */

.navbar a:hover {
    transform: scale(1.1)
}

#admin-title {
    margin-top: 100px;
    color: #fff;
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */

@media screen and (max-width: 500px) {
    #navbarAdmin a {
        float: none;
        display: block;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        /* If you want the text to be left-aligned on small screens */
    }
    #bcgAdmin {
        max-height: 630px;
    }
    #admin-txt {
        max-width: 375px;
    /* }
    #admin-container {

    } */
}


/* END OF NAVBAR */